/* *** LAYOUT *** */
.weather__form--row,
.searchEngine__form--row {
  display: flex;
  align-items: center;
}

.weather__form label, 
.form__title--hide,
.searchEngine__form label {
  display: none;
}

.form__button--submit {
  margin-left: .8rem;
}

/* *** MODULE *** */
.form__input--search {
  border: 0.1rem solid $secundairy-color1;
  color: $secundairy-color1;
  padding: 0.5rem 1rem;

  border-radius: 50rem;
}

/* *** STATE *** */

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */