/* *** LAYOUT *** */
.weather__button--primary > p > span,
.weather__customBoxInput--search > label > span {
  display: none;
} 

/* *** MODULE *** */

.button, .weather__customBoxInput--search {
  padding: 1.6rem;

  border: 0.1rem solid $secundairy-color1;

  font-size: 1.6rem;
  transition: all 300ms ease;

  cursor: pointer;
}

.weather__button--primary {
  padding: .8rem;
  
  background-color: #BACFE5;
  border: 0.1rem solid #BACFE5;
}

.weather__customBoxInput--search {
  background-color: $primary-color2;
  color: $secundairy-color1;

  margin-left: 1.6rem;
}

.form__button--submit {
  background-color: $secundairy-color1;
  color: $primary-color2;

  margin: auto;
} 

.weather__button--primary, .weather__customBoxInput--search {
  border-radius: 100%;
}

.form__button--submit {
  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-left: .8rem;

  border-radius: 50rem;
}

.weather__customBoxInput--search > label {
  margin: 0;
  cursor: pointer;
}

.weather__button--primary > p,
.weather__customBoxInput--search > label { 
  position: relative;
  width: 3rem;
  height: 3rem; 

  color: red;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.weather__button--primary > p::before {
  content: "";
  
  background: url("../../../static/svg/location-pin.svg") 0 0 no-repeat;
}

.weather__button--primary > p::before {
  display: block;
  background-size: contain;

  width: 30px;
  height: 30px;
}

.weather__button--smaller {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button>.fas {
  margin: auto;
}

/* *** STATE *** */
button:focus {
  outline: none;
}

.button:hover,
.weather__customBoxInput--search:hover {
  opacity: 0.3;
}

/* *** KEYFRAME *** */

/* *** MEDIAQUERY *** */