/* *** MEDIAQUERY *** */
@media only screen and (max-width: 575px) {
  .weather__description--bigger {
    font-size: 27vw;
  }
}

@media only screen and (max-width: 992px) {
  .weather {
    display: grid;

    grid-template-columns: 1fr;

    grid-template-areas: "search""location""day""temp""feature""list";

    grid-gap: 0px;

    padding: 2rem;
  }

  .weather__right {
    padding: 0;
  }

  .weather__description--bigger {
    font-size: 14vw;
  }
}

@media only screen and (min-width: 992px) {
  .weather__form {
    margin-left: 2.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .forecast__item {
    max-width: 13.999%;
  }
}